body{
    background-color: blueviolet;
    font-size: x-large;
    color: white;
    margin: 4px;
    padding: 10px;
}

#demo{
    text-align: center;
    border: 3px solid red;
    border-radius: 5px;
    padding:10px;
    background-color: rgb(56, 45, 160);
}

div{
    display: block;
    height: 50px;
    background-color: crimson;
    color:goldenrod;
}

h1{
    text-align: center
}

button{
    width:100px;
    padding: 10px;
    color:green;
    box-shadow: burlywood
}

